@import url("https://unpkg.com/@tailwindcss/typography@0.4.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

:root{
  --color-primary-dark:#222629;
  --color-primary-md:#474b4f;
  --color-primary-light:#6b6e70;
  --color-accent-dark:#61892F;
  --color-accent-light:#86c232;
  --color-primary-md-75:rgba(28,29,31,0.95);
}

body{
  background-color:var(--color-primary-dark);
  height:100%;
  width:100%;
}

.cursive{
  font-family:"Amatic SC","cursive";
  font-weight: 700;
}

.prose img{
  margin-left:auto;
  margin-right:auto;
  border-radius: 5px;
}


 
/* Nav Bar */

.bg-nav{
  background-color:var(--color-primary-dark);
}

.nav-text{
  color:var(--color-accent-light);
}

.nav-text:hover{
  color:var(--color-accent-dark);
}

.nav-active{
  background-color:var(--color-primary-md);
}


/* Main Section */

.bg-main{
  background:var(--color-primary-dark);
}

.main-text-display{
  padding-top:10rem;
}

.home-name{
  font-size:150px;
}

@media(max-width:600px){
  .home-name{
    font-size:75px;
  }
}

/* Blog */

.blog-card{
  border-width: 8px;
  border-color: var(--color-primary-md);
  border-radius:.25rem;
}

.blog-card:hover{
  border-width: 8px;
  border-color: var(--color-primary-light);
  border-radius:.25rem;
}

.blog-card-title{
  border-radius:.25rem;
  background-color: var(--color-primary-md);
  font-size: 1.125rem;
  line-height:1.75rem;
}

/* Single Post */

.banner{
  width:100vw;
  height:15vw;
}

@media(max-width:700px){
  .banner{
    width:100vw;
    height:40vw;
  }
}

@media(max-width:550px){
  .banner{
    width:100vw;
    height:50vw;
  }
}

.banner-title-card{
  background-color:var(--color-primary-md-75);
}

.article-bg{
  background-color: var(--color-primary-md)!important;
}

/* Projects */

.project-card{
  background-color: var(--color-primary-md);
  border:4px solid;
  border-color:var(--color-primary-md);
}

.project-card:hover{
  border:4px solid;
  border-color:var(--color-primary-light);
}

.project-card-text{
  color:var(--color-accent-light)!important;
}

.project-card-text:hover{
  color:var(--color-accent-dark)!important;
}

/* Colors */

.bright-accent-text{
  color:var(--color-accent-light);
}

.dark-accent-text{
  color:var(--color-accent-dark);
}
